:root{
    --clr-neutral-900: hsl(207,19%, 9%);
    --clr-neutral-100: hsl(0, 2%, 60%);
    --clr-accent: #6ab1e7;
    --highlight-color: #d9e7f8;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.projects{
    padding: 100px 0;
    color: #4D8AB5
}

.project-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
    padding: 50px;
    width: 80%;
    margin:auto;


}
.card{
    background-color:grey;
    color: var(--clr-neutral-900);
    width: 40ch;
    max-height: 45ch;
    max-width: 40ch;
    height:fit-content;
    background-size: cover;
    padding: 10rem 0 0;
    text-align: left;
    border-radius: 5%;
    overflow-y: hidden;
    margin:20px;

    transition: transform, box-shadow  500ms ease;

}

.card:hover{
    transform: scale(1.03);
    box-shadow: 12px 12px 2px 1px var(--highlight-color);
}

.card-content{
    --padding: 1.5rem;
    padding:var(--padding);
    background: linear-gradient(
            rgba(230,230,230,0),
            rgba(230,230,230,0.2) 10%,
            rgba(230,230,230,1)
    );

    transform: translateY(60%);
    transition: transform 500ms ease;

}
.card:hover .card-content{
    transform: translateY(0);
    transition-delay: 500ms;

}

.card-content > *:not(.card-title){
    opacity:0;

    transition: opacity 500ms linear;
}

.card:hover .card-content > *:not(.card-title){
    opacity:1;

    transition-delay: 1000ms;
}

.card-title{
    position: relative;
    width: max-content;

}

.card-title::after{
    content:"";
    position: absolute;
    height: 3px;
    left: calc(var(--padding)*-1);
    bottom: -5px;
    background: var(--clr-accent);
    width: calc(100% + var(--padding));

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title:after{
    transform: scaleX(1);
}

.card-body{
    color:rgba(0,0,0,0.7);
    font-weight: 600;
}

.button{
    cursor: pointer;
    display: inline-block;
    text-decoration:none;
    color:var(--clr-neutral-900);
    background-color:var(--clr-accent);
    padding:.5em 1em;
}

.button:hover,
.button:focus{
    background-color: var(--highlight-color);
    border: 1px solid;
}

.badminton-buddy{
    background-image: url(../../images/badminton-buddy.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.chype{
    background-image: url(../../images/chype.png);
    background-size: cover;
}

.todo-app{
    background-image: url(../../images/todo-app.png);
    background-size: cover;
}

.note-taker{
    background-image: url(../../images/note-taker.png);
    background-size: cover;
}

.dine-outside{
    background-image: url(../../images/dine-outside.png);
    background-size: cover;
}

.tinder-clone{
    background-image: url(../../images/tinder-clone.png);
    background-size: cover;
}