:root{
    --clr-neutral-900: hsl(207,19%, 9%);
    --clr-neutral-100: hsl(0,0%, 100%);
    --clr-accent: #6ab1e7;
    --highlight-color: #9fbcd9;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.project-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
    background-color: grey;
    padding: 50px;


}
.card{
    background-color:violet;
    color: var(--clr-neutral-900);
    max-width: 40ch;
    max-height:45ch;
    height:fit-content;
    background-size: cover;
    padding: 10rem 0 0;
    text-align: left;
    border-radius: 5%;
    overflow-y: hidden;
    margin:20px;

    transition: transform 500ms ease;
}

.card:hover{
    transform: scale(1.03);
}

.card-content{
    --padding: 1.5rem;
    padding:var(--padding);
    background: linear-gradient(
            rgba(230,230,230,0),
            rgba(230,230,230,0.2) 10%,
            rgba(230,230,230,1)
    );

    transform: translateY(60%);
    transition: transform 500ms ease;

}
.card:hover .card-content{
    transform: translateY(0);
    transition-delay: 500ms;

}

.card-content > *:not(.card-title){
    opacity:0;

    transition: opacity 500ms linear;
}

.card:hover .card-content > *:not(.card-title){
    opacity:1;

    transition-delay: 1000ms;
}

.card-title{
    position: relative;
    width: max-content;

}

.card-title::after{
    content:"";
    position: absolute;
    height: 3px;
    left: calc(var(--padding)*-1);
    bottom: -5px;
    background: var(--clr-accent);
    width: calc(100% + var(--padding));

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.card:hover .card-title:after{
    transform: scaleX(1);
}

.card-body{
    color:rgba(0,0,0,0.7)
}

.button{
    cursor: pointer;
    display: inline-block;
    text-decoration:none;
    color:var(--clr-neutral-900);
    background-color:var(--clr-accent);
    padding:.5em 1em;
}

.button:hover,
.button:focus{
    background-color: var(--highlight-color)
}