.skills-container{
    margin-top: 100px;
    padding: 100px 0;
    background-color: rgba(220,220,220);
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}

.skills-header{
    width: 10%;
    margin-left:100px;
    color: #4D8AB5;
    max-height:200px;
}
.columns-container{
    margin-left:100px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}