@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Light.ttf");
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    /*background-color: grey;*/
}
.hero-box{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    min-width: 250px;
    margin-right: 100px;
}
.pic-container{
    width: 250px;
    height: 250px;
    margin:auto;
    padding:0;
    overflow: hidden;
    border-radius: 50%;
}
.profile-pic{
    position: relative;
    bottom: 40px;
    height: auto;
    max-width: 250px;
}
h1{
    font-size: 48px;
    font-weight: 100;
    margin: 0 0 2rem;
}

.about-blurb{
    width: 27%;
    min-width:250px;
    /*background-color: chocolate;*/
    display: flex;
    flex-direction: column;
    font-size:16px;
    font-weight: 400;
    line-height: 1.5em;
    padding-top: 5rem;
}

